.buttons {
    position: absolute;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button-holder{
    position: absolute;
}

body {
    margin:0;
    margin-left:45px;
    padding:0;
    overflow: scroll;
}

canvas {
    margin:auto;
    overflow: scroll;
}